body {
	font-family: 'Arial', sans-serif;
	margin: 0;
	padding: 20px;
	background-color: #f4f4f4;
	color: #333;
}

.container {
	max-width: 600px;
	margin: 0 auto;
	background: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2,
h3 {
	color: #5d6975;
}

h2 {
	font-size: 22px;
	text-align: center;
	padding: 20px 0;
}

h3 {
	font-size: 18px;
	padding: 10px 0;
}

p,
li {
	font-size: 16px;
	line-height: 1.6;
}

.checklist {
	list-style-type: none;
	padding: 0;
}

.checklist li:before {
	content: '✓';
	margin-right: 8px;
	color: #6da34d;
}

/* Mobile responsiveness */
@media (max-width: 600px) {
	.container {
		width: 100%;
		padding: 10px;
		box-shadow: none;
	}

	h2 {
		font-size: 20px;
	}

	h3 {
		font-size: 16px;
	}

	p,
	li {
		font-size: 14px;
	}
}
